.comment {
    margin-top: 1rem;
}

.comment-date{
    margin-left: 2rem;
    color: gray;
    font-size: 13px;
}

.user-avatar {
    width: 100%;
    max-width: 50px;
}

.comment-username {
    font-weight: 700;
    font-size: 14px;
}

.comment-more-btn, .comment-form-reply-btn {
    font-weight: 550;
    cursor: pointer;
}
.comment-more-btn {
    color: #0f96f6;
}

.comment-form-reply-btn {
    color: grey;
}


